*{
  margin: 0;
  padding: 0;
}
html,body{
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}
nav{
  height: 110px;
  background-color: #FFF7ED;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}
li{
  display: flex;
  align-items: center;
} 
.nav-item {
  text-decoration: none;
  padding-left: 30px;
  font-size: 16px;
  padding-right: 30px;
  color: #4D4D4D;
}
.logo{
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  padding-left: 26px;
  font-weight: 900;
}
ul a:hover {
  color: #161616;
  text-decoration: underline;
}
.homeimg{
  width: 100%;
}

/* Home page CSS */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/home.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  color: white;
  padding: 80px 40px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 54px;
}

.home-container p {
  line-height: 25px;
  padding-top: 20px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 60%;
  margin-top: 30px;
  padding-block: 15px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(2px, 2px);
}


/* About Page CSS */
.about-hero-image {
  max-width: 100%;
  height: auto; 
}

.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-page-content {
  padding: 10px 23px; 
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 1.4; 
  padding: 6px;
}

.about-page-content p {
  line-height: 1.6;
  padding: 2px;
}

.about-page-cta {
  width: 100%;
  background-color: #FFCC8D;
  color: #161616;
  padding: 32px;
  margin: 27px;
  border-radius: 5px;
  text-align: center;
}

.about-page-cta h2 {
  margin: 0;
  padding-bottom: 20px; 
}

.about-page-cta .link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #161616;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.about-page-cta .link-button:hover {
  transform: scale(1.05);
}



.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Responsive grid columns */
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile {
  border: 1px solid #ddd; /* Add a border for better separation */
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-info {
  margin-top: 15px;
}

.van-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.van-info p {
  font-size: 16px;
  color: #555;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}


/* Styles for van types */
.van-type {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover,
.van-type:focus {
  color: #FFEAD0;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

/* Clear filters button */
.van-type.clear-filters {
  margin-left: 0;
  margin-top: 10px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

/* Icons styles */
i[class*='van-type-'] {
  padding: 7px 14px;
}


/* Van Details Page CSS */
 
.van-detail-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.van-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.van-detail img {
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.van-detail > i {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #555;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: #FF8C38;
}

.van-detail .van-price span {
  font-weight: 700;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.25rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 15px;
}

.van-detail .link-button:hover {
  background-color: #FF6F00;
}

