
@media screen and (max-width: 767px) {
    .van-list {
        grid-template-columns: 1fr;
        gap: 20px; 
    }
    .van-tile {
        padding: 20px;
    }
    .van-detail-container {
      padding: 20px;
    }
  
    .van-detail img {
      margin-bottom: 15px;
    }
  
    .van-detail h2 {
      font-size: 1.5rem;
    }
  
    .van-detail .van-price {
      font-size: 1rem;
      margin-bottom: 15px;
    }
  
    .van-detail .link-button {
      font-size: 1rem;
    }
}
  